.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-card {
  width: 50%
}

.example-header-image {
  background-image: url('https://www.facebook.com/profile/pic.php?cuid=AYiQzH3AuTjPe2iUsQUGspaKdP6PJk3CJAnmzCe6VfrO_TY75SOeRsX2-e1ZQAVrmZ9PR7nDsvanoxwrnDvqOKZRRE-2BmqiPEFDJbhrFHWsHpaTDrQpcYAHLv2q_aQMnZLWA4kl-3Gu2-o5ytKzD_AOOnlv_WdSJiYkY6Jl7CvCkMhL6cO0Tf8wLBXgHyF1D43gjdEiSEhRxNnkg7F8CwEsqhpeHU97dRchzOgzXjNb1Mczn5vZXiPBgD0kL9QIdy-x2f1JgvX8rg6nMG8iVVK1cxnRI7n3zjbyJiGV-_suLA&square_px=64');
  background-size: cover;
}
