<div class="container">
  <mat-card color="warn" class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Alec Trievel</mat-card-title>
      <mat-card-subtitle>Software Developer @ CEI</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="mat-body-2">I am a software developer based in Pittsburgh, PA specialliazing in full-stack and cloud development. If I'm not writing code, learning the newest JavaScript framework, or  deploying Azure environments, you can find me giving local tech talks, hiking, playing tennis, and exploring the Burgh.</p>
    </mat-card-content>
    <app-social-links></app-social-links>
    <app-main-display-navigation></app-main-display-navigation>
  </mat-card>
</div>
