<div class="container" *ngIf="shouldDisplay()">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Alec Trievel</mat-card-title>
      <mat-card-subtitle>Software Developer @ CEI</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Hi - this is just placeholder text. Please ignore the dog, Alexis. Thank you
      </p>
    </mat-card-content>
    <app-social-links></app-social-links>
    <app-main-display-navigation></app-main-display-navigation>
  </mat-card>
</div>
